body {
  background-image: url("img/background.webp");
}

.hidden {
  display: none;
}

.ToDotitle{
color:white;
font-family: 'Times New Roman', Times, serif;
font-weight:bold;
font-size:40px;
text-align: center;
}

.todo-item {
  font-family: "Segoe UI", Arial, sans-serif;
  
}

.todo-text {
  color: #ffffff;
}

.todo-btn {
  font-family: "Segoe UI", Arial, sans-serif;
  color: rgb(255, 255, 255);
}


.todo-btn-edit {
  background-color: #975ff0;
}

.todo-btn-delete {
  background-color: #ef44e6;
}

p{
    color:rgb(231, 241, 84);
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:30px;
}