body {
  background-image: url("img/background.webp");
}

.hidden {
  display: none;
}

.div-holder{
    background-color: rgb(224, 202, 248);
}


.ToDotitle{
color:#ef44e6;
font-family: didot, serif;
font-weight:bold;
font-size:40px;
text-align: center;
}

.todo-item {
  font-family: didot, serif;
  
}

.add-btn{
    color:rgb(255, 255, 255);
    font-weight:bold;
    background-color: #975ff0;
    border:solid 2px #efe444;
}

.add-btn:hover{
    background-color: #571457;
    cursor: pointer;
}


.todo-text {
  color:#ef44e6;
  font-family: didot, serif;
  font-weight:bold;
  font-size:30px;
}

.todo-btn {
  font-family: didot, serif;
  font-weight: bold;
  color: white;
}


.todo-btn-edit {
  background-color: #975ff0;
}

.todo-btn-delete {
  background-color: #ef44e6;
}

