body {
  background-image: url("img/background.webp");
}

.hidden {
  display: none;
}

.div-holder{
    background-color: rgb(171, 250, 213);
}


.ToDotitle{
color:#ef44e6;
font-family: 'Times New Roman', Times, serif;
font-weight:bold;
font-size:40px;
text-align: center;
}

.todo-item {
  font-family: "Segoe UI", Arial, sans-serif;
  
}

.add-btn{
    color:rgb(255, 255, 255);
    background-color: #ef44e6;
}

.todo-text {
  color:#ef44e6;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
  font-size:30px;
}

.todo-btn {
  font-family: "Segoe UI", Arial, sans-serif;
  color: rgb(255, 255, 255);
}


.todo-btn-edit {
  background-color: #975ff0;
}

.todo-btn-delete {
  background-color: #ef44e6;
}

