@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

body {
  background-image: url("img/background.webp");
}

.hidden {
  display: none;
}

.div-holder{
    background-color: rgb(224, 202, 248);
}


.ToDotitle{
color:#ef44e6;
font-family: "GFS Didot", Didot, serif;
font-weight:bold;
font-size:40px;
text-align: center;
}

.todo-item {
  font-family: "GFS Didot", Didot, serif;
  
}

.add-btn{
    color:rgb(255, 255, 255);
    font-family: "GFS Didot", Didot, serif;
    font-weight:bold;
    background-color: #975ff0;
  
}

.save-btn{
  color:rgb(255, 255, 255);
  font-family: "GFS Didot", Didot, serif;
  font-weight:bold;
  background-color: #975ff0;
}

.add-btn:hover{
    background-color: #571457;
    cursor: pointer;
}

.save-btn:hover{
  background-color: #571457;
  cursor: pointer;
}


.todo-text {
  color:#ef44e6;
  font-family: "GFS Didot", Didot, serif;
  font-weight:bold;
  font-size:30px;
}

.todo-btn {
  font-family: "GFS Didot", Didot, serif;
  font-weight: bold;
  color: white;
}


.todo-btn-edit {
  background-color: #975ff0;
}

.todo-btn-delete {
  background-color: #ef44e6;
}

.todo-btn-delete:hover {
  background-color: #571457;
  cursor: pointer;
}

.todo-btn-edit:hover {
  background-color: #571457;
  cursor: pointer;
}